{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandes</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Bigdaddy</th>
            <th>Speeddaddy</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.name }}</td>
                <td>{{ package.bigDaddy }}</td>
                <td>{{ package.speedDaddy }}</td>
                <td>
                    {% if package.statut == 1 %}
                        En attente de récéption chez un big daddy
                    {% endif %}
                    {% if package.statut == 2 %}
                        chez bigdaddy - prêt à livrer
                    {% endif %}
                    {% if package.statut == 3 %}
                        en recherche de speed daddy
                    {% endif %}
                    {% if package.statut == 4 %}
                        avec speeddaddy - en cours de livraison
                    {% endif %}
                    {% if package.statut == 5 %}
                        terminé
                    {% endif %}
                </td>
                <td><a href="{{ path('package_show', { 'id': package.id }) }}">show</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
